#include <windows.h>
#include "resource.h"

// Win32 application icon.
IDI_APPICON             ICON                    "kcmdrkonqi.ico"
IDB_CROSS               BITMAP  DISCARDABLE     "kcmdrkonqi.bmp"

// Our main menu.
IDR_MAINMENU MENU 
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "E&xit",                       ID_FILE_EXIT
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&Interpretation",             ID_HELP_INTERPRETATION
        MENUITEM "&Reference",                  ID_HELP_REFERENCE
        MENUITEM "&About",                      ID_HELP_ABOUT
    END
END

// Application manifest.
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "Application.manifest"

// Executable version information.
1 VERSIONINFO
 FILEVERSION 1,0,0,3
 PRODUCTVERSION 1,0,0,3
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080904b0"
        BEGIN
            VALUE "CompanyName", "No iDevice Software"
            VALUE "FileDescription", "Win32 Application"
            VALUE "FileVersion", "1, 0, 0, 3"
            VALUE "InternalName", "Briganti"
            VALUE "LegalCopyright", "©2026 No iDevice Software"
            VALUE "OriginalFilename", "Briganti.exe"
            VALUE "ProductName", "Briganti Nomogram"
            VALUE "ProductVersion", "1, 0, 0, 3"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x809, 1200
    END
END

// Our "about" dialog.
IDD_ABOUTDIALOG DIALOGEX 0, 0, 200, 100
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    ICON            IDI_APPICON,IDC_STATIC,7,7,20,20
    LTEXT           "Briganti Nomogram 1.0.0.3",IDC_STATIC,100,20,100,8
    LTEXT           "License: Free",IDC_STATIC,100,30,86,8
    LTEXT           "(c)2026 No iDevice Software",IDC_STATIC,100,40,100,8
    DEFPUSHBUTTON   "OK",IDOK,115,55,50,14,WS_GROUP
END

//Interpretation dialog
IDD_INTERPRETATIONDIALOG DIALOGEX 0, 0, 520, 90
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Interpretation"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "The reference paper describes a novel nomogram for predicting lymph node invasion (LNI)",IDC_STATIC,34,7,400,8
    LTEXT           "for prostate-specific membrane antigen (PSMA) positron emission tomography (PET) negative patients.",IDC_STATIC,34,17,400,8
    LTEXT           "The authors suggest a cutoff value of >5% for LNI as indication for doing extended pelvic lymph node dissection (ePLND).",IDC_STATIC,34,27,450,8
    LTEXT           "This correlates to a score of >85 points.",IDC_STATIC,34,37,400,8
    DEFPUSHBUTTON   "OK",IDOK,220,60,50,14,WS_GROUP
END

//Reference dialog
IDD_REFERENCEDIALOG DIALOGEX 0, 0, 520, 110
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Reference"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Reference for Briganti Nomogram:",IDC_STATIC,34,7,400,8
    LTEXT           "Giorgio Gandaglia et al.",IDC_STATIC,34,17,400,8
    LTEXT           """Identification of the Optimal Candidates for Nodal Staging with Extended Pelvic Lymph Node Dissection Among Prostate Cancer Patients",IDC_STATIC,34,27,600,8
    LTEXT           "Who Underwent Preoperative Prostate-specific Membrane Antigen Positron Emission Tomography.",IDC_STATIC,34,37,600,8
    LTEXT           "External Validation of the Memorial Sloan Kettering Cancer Center and Briganti Nomograms and Development of a Novel Tool""",IDC_STATIC,34,47,600,8
    LTEXT           "EUROPEAN UROLOGY ONCOLOGY 6 (2023) 543-552.",IDC_STATIC,34,57,400,8
    LTEXT           "https://doi.org/10.1016/j.euo.2023.05.003",IDC_STATIC,34,67,400,8
    DEFPUSHBUTTON   "OK",IDOK,220,85,50,14,WS_GROUP
END


// Our accelerators.
IDR_ACCELERATOR ACCELERATORS 
BEGIN
    "A",            ID_HELP_ABOUT, VIRTKEY, ALT, NOINVERT
    "I",            ID_HELP_INTERPRETATION, VIRTKEY, ALT, NOINVERT
    "R",            ID_HELP_REFERENCE, VIRTKEY, ALT, NOINVERT
END
